* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 990px;
}
.logo {
  display: flex;
  align-items: center;
  color: #0096ff;
}
.img-logo {
  width: 100%;
  max-width: 150px;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}
nav a:hover {
  background-color: #39aae1;
  color: #ffffff;
}
#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/banner2.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}
.column {
  flex-direction: column;
}
.banner-headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-headline h1 {
  color: #e5e4e2;
  font-size: 60px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}
.banner-headline p {
  color: #dfdfe5;
  font-size: 20px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}
.banner-options {
  height: 210px;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #dfdfe5;
  padding: 20px;
}
.banner1 {
  background-color: #2b4c99;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #39aae1;
}
.banner-title {
  font-size: 25px;
}
.banner-desc {
  font: size 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner-options button {
  background: none;
  border: none;
  text-decoration: none;
}
.banner-options a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #e5e4e2;
  padding: 5px;
  color: #e5e4e2;
}
.banner-time {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e4e2;
  padding: 5px;
}
#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget-title-text {
  color: #727272;
  font-size: 20px;
  font-weight: bold;
}
.widget-title-bar {
  width: 50px;
  height: 2px;
  background-color: #2b4c99;
  margin-top: 10px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}
article a {
  text-decoration: none;
}
article .news-data {
  display: flex;
}
article .news-posted-at {
  background-color: #39aae1;
  color: #e5e4e2;
  font-size: 12px;
  padding: 10px;
}
article .news-comments {
  background-color: #2b4c99;
  color: #e5e4e2;
  font-size: 12px;
  padding: 10px;
  margin-left: 2px;
}
article .news-thunbnail {
  margin-top: 30px;
}
article .news-thunbnail img {
  width: 100%;
  height: auto;
}
article .news-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2b4c99;
  font-size: 20px;
}
article .news-resume {
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.departaments img {
  width: 100%;
  height: auto;
}

.departaments .departament-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #2b4c99;
  font-size: 15px;
}
.widget-body .departaments {
  flex: 1;
  min-width: 150px;
  margin-right: 15px;
}
.widget-body .appointment-text {
  color: #555555;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-left: 5px;
}
.widget-body .appointment-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.widget-body .appointment-section input {
  width: 20px;
  height: 20px;
}
.widget-body .appointment-section label {
  color: #555555;
  font-size: 17px;
  line-height: 20px;
  margin-left: 10px;
}

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}
.footer-banner {
  display: flex;
}
.footer-banner a {
  display: block;
  text-decoration: none;
  color: #e5e4e2;
  padding: 20px;
}
.footer-banner .bigger-text {
  font-size: 25px;
}
.footer-banner .small-text {
  font-size: 12px;
  margin-top: 15px;
}
.widget-body .small-text-footer {
  font-size: 12px;
  line-height: 20px;
  margin-top: 25px;
}
.ft-banner1,
.ft-banner2,
.ft-banner3 {
  flex: 1;
}
.ft-banner1 {
  background-color: #2b4c99;
}
.ft-banner2 {
  background-color: #0079c7;
}
.ft-banner3 {
  background-color: #39aae1;
}
.footer-area {
  display: flex;
}
.footer-area a {
  text-decoration: none;
  color: #dfdfe5;
}
.footer-area-item {
  flex: 1;
  color: #ffffff;
}
.flex-column {
  flex-direction: column;
}
footer .widget-title-text {
  color: #ffffff;
}
footer .widget-title-bar {
  background-color: #39aae1;
}
.address {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.latest-posts {
  margin-left: 20px;
  margin-left: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.social-media img {
  width: 20px;
  margin: 10px;
}
.footer-dev {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #727272;
  font-size: 12px;
  margin-top: 30px;
}
